<div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Test App</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                {% if user.is_authenticated %}
                <ul class="navbar-nav mb-2 mb-lg-0">
                    {% if 'dashboard' in request.path %}
                        <li class="nav-item ms-3">
                            <a class="nav-link active" aria-current="page" href="{% url 'dashboard' %}">Dashboard</a>
                        </li>
                        <li class="nav-item ms-3">
                            <a class="nav-link" aria-current="page" href="{% url 'edit_profile' request.user.id %}">Profile</a>
                        </li>
                    {% elif 'profile' in request.path %}
                        <li class="nav-item ms-3">
                            <a class="nav-link" aria-current="page" href="{% url 'dashboard' %}">Dashboard</a>
                        </li>
                        <li class="nav-item ms-3">
                            <a class="nav-link active" aria-current="page" href="{% url 'edit_profile' request.user.id %}">Profile</a>
                        </li>
                        {% else %}
                        <li class="nav-item ms-3">
                            <a class="nav-link" aria-current="page" href="{% url 'dashboard' %}">Dashboard</a>
                        </li>
                        <li class="nav-item ms-3">
                            <a class="nav-link" aria-current="page" href="{% url 'edit_profile' request.user.id %}">Profile</a>
                        </li>
                    {% endif %}
                </ul>
                <ul class="navbar-nav mb-2 mb-lg-0 ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                    </li>
                </ul>
                {% else %}
                <ul class="navbar-nav mb-2 mb-lg-0">
                    <li class="nav-item ms-3">
                        <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Home</a>
                    </li>
                </ul>
                <ul class="navbar-nav mb-2 mb-lg-0 ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Log In</a>
                    </li>
                </ul>
                {% endif %}
            </div>
        </div>
    </nav>
</div>